<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>@Model.GetName()</title>
  </head>
  <body>
    @if(Model.GetVenues().Count==0)
    {
      <p>
        No shows have been played by this band yet
      </p>
    }
    else
    {
      <ul>
      @foreach(var venue in Model.GetVenues())
      {
        <li><a href="/venues/@venue.GetId()">@venue.GetName()</a></li>
      }
    </ul>
    }
    <h4>Edit Band</h4>
    <form class="form-group" action="/bands/@Model.GetId()" method="post">
      <input type="hidden" name="_method" value="PATCH">
      <label for="band-name">Band Name:</label>
      <input type="text" name="band-name" required value="@Model.GetName()">
      <button type="submit">Submit</button>
    </form>
    <form action="/bands/@Model.GetId()" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit">Delete Band</button>
    </form>
    <a href="/bands">View All Bands</a>
    <a href="/">Home</a>
  </body>
</html>
