<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>@Model.GetName()</title>
  </head>
  <body>
    <h4>Shows:</h4>
    @if(Model.GetBands().Count==0)
    {
      <p>
        No shows have been played here yet
      </p>
    }
    else
    {
      <ul>
      @foreach(var band in Model.GetBands())
      {
        <li><a href="/bands/@band.GetId()">@band.GetName()</a></li>
      }
    </ul>
    }
    <h4>Edit Venue:</h4>
    <form class="form-group" action="/venues/@Model.GetId()" method="post">
      <input type="hidden" name="_method" value="PATCH">
      <label for="venue-name">Venue Name:</label>
      <input type="text" name="venue-name" required value="@Model.GetName()">
      <button type="submit">Submit</button>
    </form>
    <form action="/venues/@Model.GetId()" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit">Delete Venue</button>
    </form>
    <a href="/venues">View All Venues</a>
    <a href="/">Home</a>
  </body>
</html>
