USE [master]
GO
/****** Object:  Database [band_tracker]    Script Date: 7/22/2016 3:54:23 PM ******/
CREATE DATABASE [band_tracker]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'band_tracker', FILENAME = N'C:\Users\epicodus\band_tracker.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'band_tracker_log', FILENAME = N'C:\Users\epicodus\band_tracker_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [band_tracker].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [band_tracker]
GO
USE [band_tracker]
GO
/****** Object:  Table [dbo].[bands]    Script Date: 7/22/2016 3:54:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[bands](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](55) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[shows]    Script Date: 7/22/2016 3:54:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shows](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[venue_id] [int] NULL,
	[band_id] [int] NULL,
	[date] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[venues]    Script Date: 7/22/2016 3:54:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[venues](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](55) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[bands] ON 

INSERT [dbo].[bands] ([id], [name]) VALUES (5, N'Dexy''s Midnight Runners')
INSERT [dbo].[bands] ([id], [name]) VALUES (6, N'Phish')
INSERT [dbo].[bands] ([id], [name]) VALUES (7, N'Ween')
SET IDENTITY_INSERT [dbo].[bands] OFF
SET IDENTITY_INSERT [dbo].[shows] ON 

INSERT [dbo].[shows] ([id], [venue_id], [band_id], [date]) VALUES (8, 4, 7, CAST(N'2016-07-01T00:09:00.000' AS DateTime))
INSERT [dbo].[shows] ([id], [venue_id], [band_id], [date]) VALUES (3, 4, 6, CAST(N'2016-07-15T19:30:00.000' AS DateTime))
INSERT [dbo].[shows] ([id], [venue_id], [band_id], [date]) VALUES (4, 4, 5, CAST(N'2016-07-18T18:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[shows] OFF
SET IDENTITY_INSERT [dbo].[venues] ON 

INSERT [dbo].[venues] ([id], [name]) VALUES (4, N'Chad''s')
INSERT [dbo].[venues] ([id], [name]) VALUES (5, N'Thad''s')
SET IDENTITY_INSERT [dbo].[venues] OFF
USE [master]
GO
